<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your in</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/race.css">
    <link rel="stylesheet" href="css/caranimation.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <!--DataTables BootStrap -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Js-->
    <script src="js/race.js"></script>
    <!--DataTables Script-->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <!--fontawosome-icons-->
    <script src="https://kit.fontawesome.com/59dce4be9c.js" crossorigin="anonymous"></script>
    <!--SweetAlerts-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="images/logo.png">
            <div class="user-info">
                <i class="fas fa-user"></i>
                <span id ="username">Username</span>
            </div>
        </div>
        <div class="nav">
            <a class="race active" href="/race">
                <img src="images/race.png">
                <hr>
            </a>
            <a class="leaderboard" href="/leaderboard">
                <img src="images/leaderboard.png">
                <hr>
            </a>
            <a class="challenge" href="/challenge">
                <img src="images/challenge.png">
                <hr>
            </a>
            <a class="friends" href="/friends">
                <img src="images/friends.png">
                <hr>
            </a>
        </div>
    </div>

    <div class = "start-race">
        <div id = "start-race">
            <img src="images/race.png">
            <span id = "race_text">Start Race</span>
        </div>
    </div>

    <div class = "my_races" id = "my_races"></div>
        <table id = "table_races">
            <thead>
            <tr>
                <th>Date</th>
                <th>My Time</th>
            </tr>
            </thead>
        </table>
    </div>

    <div class="loading-window" id = "loading-window">
        <div class="car">
            <div class="strike"></div>
            <div class="strike strike2"></div>
            <div class="strike strike3"></div>
            <div class="strike strike4"></div>
            <div class="strike strike5"></div>
            <div class="car-detail spoiler"></div>
            <div class="car-detail back"></div>
            <div class="car-detail center"></div>
            <div class="car-detail center1"></div>
            <div class="car-detail front"></div>
            <div class="car-detail wheel"></div>
            <div class="car-detail wheel wheel2"></div>
        </div>
        <div class="stopwatch">
            <span class="time" id="display">00:00:00</span>
        </div>
    </div>

</body>
</html>